.form-login{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    margin: 0 auto;
    width: 40%;
    padding: 25px;
    margin-top: 200px;
    height: 250px;
}

.input{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
}

.imagesLogo{
    width: 100%;
}
.divPass
{
    margin-top: 10px;
}
.divLeft{
    width: 50%;
    float: left;
}
.divRight{
    width: 40%;
    float: left;
}

.divButtonLogin{
    padding-top: 20px;
}
.cancelbtn{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    background-color: #0099FF;

}