.form-login{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    margin: 0 auto;
    width: 40%;
    padding: 25px;
    margin-top: 200px;
}
.imagesLogo{
    margin: auto;
    margin-top: 45px;
    display: block;
}

.login_us{
    border-radius: 5px;
    border: 2px solid #C0C0C0;
    background-color: #C0C0C0;
}

.chang_pw{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    background-color: #C0C0C0;
}

.login_us:hover{
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid #0066CC;
    background-color: #0066CC;
}

.chang_pw:hover{
    border-radius: 5px;
    color: #ffffff;
    border: 2px solid #0000FF;
    background-color: #0000FF;
}


.invalid-feedback {
	margin-left: 20%;
}

.form-btn
{
    text-align: center;
}