.form-login{
    border: 2px solid #C0C0C0;
    border-radius: 5px;
    margin: 0 auto;
    width: 40%;
    padding: 25px;
    margin-top: 200px;
}
.imagesLogo{
    margin: auto;
    margin-top: 45px;
    display: block;
}

.login_us{
    border: 2px solid #0033CC;
    border-radius: 5px;
    background-color: #0033CC;
}

.chang_pw{
    border: 2px solid #0066CC;
    border-radius: 5px;
    background-color: #0066CC;
}

.invalid-feedback {
	margin-left: 20%;
}