body {
    font-family: "Lato", sans-serif;
  }

.col-sm-3 .text-hair
{
    position: relative;
    padding-top: 25px;
    z-index: 1;
    display: block;
    font-size: 25px;
}

.col-sm-5 .user-name
{
    padding-top: 25px;
    font-size: 25px;
    text-align: right;
}

.col-sm-1 .user-logout
{
    padding-top: 25px;
    font-size: 20px;
	text-align: left;
	display: block;
}


.col-sm-1 .icon-user
{
	padding-top: 25px;
	
}

.sidenav {
	height: 100%;
	width: 180px;
	text-align: center;
	background-color: #fff;
	padding-top: 10px;
}

.sidenav a {
	padding: 30px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #3399FF;
	text-decoration: underline;
}

hr {
	border: 0.5px solid #C0C0C0;
	width: 100%;
}


.main {
	margin-left: 170px; /* Same as the width of the sidenav */
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 5px 40px;
	margin-top: -290px;
}

@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.input-group-prepend {
	width: 20%;
}

.input-group-prepend .input-group-text {
	width: 100%;
	justify-content: center;
}

.invalid-feedback {
	margin-left: 20%;
}
 
.table-header {
	background-color: #e8e8e8;
}

.table-bordered td, .table-bordered th {
	border: 1px solid #bdbdbd;
}

.table thead th {
    text-align: center;
    border-bottom: none;
}

tbody {
	text-align: center;
}

.form-control .select-shop {
	width: 40%;
}

.form-group-button {
	display: flex;
	justify-content: center;
}

.btn-form {
	width: 30%;
}

.btn-left {
	margin-right: 15%;
}

.border-bottom {
	border-bottom: 1px solid #ced4da; 
	line-height: normal;
}