
body {
	font-family: 'ＭＳ Ｐゴシック';
  }

.logo{
	margin-left: 20px;
}

.col-sm-3 .text-hair
{
    position: relative;
    padding-top: 25px;
    z-index: 1;
    display: block;
	font-size: 30px;
}

.col-sm-4 .user-name
{
    padding-top: 30px;
    font-size: 25px;
    text-align: right;
}

.col-sm-1 .user-logout{
    padding-top: 30px;
    font-size: 20px;
	text-align: left;
	display: block;
}

.col-sm-1 .icon-user{
	padding-top: 30px;
	
}

.col-10{
	margin-top: -16px;
}

/* .sidenav {
	text-align: center;
}

.sidenav a {
	padding: 30px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	display: block;
	color: #363636;
} */

.col-2{
	position: relative;
	display: flex;
	background-color: #E8E8E8;
	margin-top: -16px;
	height: 1200px;
}

.menu-left{
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;
	list-style: none;
}

.menu-left li a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	color: #696969;
	font-weight: 550;
	padding: 15px 8px 6px 16px;
	font-size: 25px;
	letter-spacing: 2px;
}

ul li a.active{
	color:#0066FF;
	text-decoration: underline;
}

hr {
	border: 0.5px solid #C0C0C0;
	width: 100%;
}


.main {
	font-size: 20px; /* Increased text to enable scrolling */
	padding: 5px 5px;
	background-color: #fff;
	margin-left: 20px;
}



@media screen and (min-device-width : 768px) and (max-device-width : 1024px){
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}

.input-group-prepend {
	width: 20%;
}

.input-group-prepend .input-group-text {
	width: 100%;
	justify-content: center;
}

.invalid-feedback {
	margin-left: 20%;
}


