.btn-left-sales {
	margin-right: 2%;
}

.searchSales{
	border-color: #ddd;
    border-width: 1px;
	border-radius: 4px 4px 0 0;
	padding: 45px 15px 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	text-align: center;
}