.btn-left-sales {
	margin-right: 2%;
}

.status{
    padding: 15px 15px 5px;    
    margin: 0px 0px 0px 15px;
}

.searchSales{
	border-color: #ddd;
    border-width: 2px;
	border-radius: 4px 4px 0 0;
	padding: 15px 15px 5px;    
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
    text-align: center;
    margin: 0px 0px 0px 15px;
}

.boderStatus{
    border-color: #ddd;
    border-width: 2px;
	border-radius: 4px 4px 0 0;
	padding: 15px 15px 5px;    
    border-color: #e5e5e5 #eee #eee;
	border-style: solid;
    text-align: center;
}

.marBot15 {
    margin-bottom: 10px;
}

.buttonSales{
    width: 130px;
    text-align: center;
}
.clsCenter{
    text-align: center;
}

.errorSearch{
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.searchResult{
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    background-color: #d9edf7;
    border-color: #bcdff1;
    color: #31708f;
    margin-top: 1rem;
}

.datetimepicker-input[readonly]{
    background-color: white;
}